.hero-section .hero-heading {
  background-color: #053388;
  color: white;
  text-align: center;
}

.hero-section .hero-section-container {
  background-image: url(/assets/img/flutter/Rectangle4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b54c3;
  color: white;
}

.hero-section .hero-section-content h1 {
  font-size: 2em;
  font-weight: 700;
}

.hero-section .hero-section-content h1 span {
  font-size: 2.2em;
  font-weight: 700;
}

.hero-section .hero-section-content .flutter-logo {
  background-color: white;
  padding: 0.5em;
  width: 120px;
}

.hero-section .hero-section-content .sub-text1 {
  font-size: 0.9em;
  font-weight: 400;
}

.hero-section .hero-section-content .sub-text2 {
  font-size: 1.2em;
  font-weight: 400;
}
.hero-section .hero-section-content .sub-text2 span {
  font-size: 1.2em;
  font-weight: 700;
}

.hero-section .signUp-form {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.hero-section .signUp-form h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.hero-section .signUp-form p {
  text-align: center;
  font-size: 0.9em;
}

.hero-section .signUp-form button {
  border: none;
  background-color: #e4740c;
  color: white;
  width: 100%;
  padding: 0.5em 0;
}
